@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h5,
.trustedcustomers{
    opacity: 0.5;
}

.purple{
    color: #6415FF;
}

h1{
    font-weight: 700;
    font-size: 24px;
}

.logo__img--wrapper{
    display: flex;
    align-items: center;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.nav__links--list{
    display: flex;
    list-style-type: none;
}

.nav__link{
    margin: 24px;
}

.nav__login{
    margin-left: 40px;
}

.btn{
    border-radius:999px;
    background-color: #6415FF;
    color: white;
    padding: 0px 32px;
    height: 40px;
    margin-top: 16px;
    font-weight: bold;
    text-align: center;
}


/*

HEADER

*/

.header__text{
    font-size: 48px;
}

.header__column{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__image{
    width: 60%;
}

.container__header{
    display: flex;
    margin-top: 32px;
}

.img__header--size{
    width: 100%;
}

.input__border{
    position: relative;
    border-width: 2px;
    border-radius: 30px;
    height: 40px;
    width: 350px ;
    opacity: 0.6;
}

.input__button{
    position: absolute;
    right: 60%;
}

.btn__form{
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: row;
}

/*

FEATURES

*/

#features{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text__top--centre{
    text-align: center;
    margin-bottom: 42px;
}

.container{
    padding: 80px 0;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service{
    display: flex;
    align-items: flex-start;
    width: calc(100% / 3);
    margin-top: 12px;
}

.service__text{
    display: flex;
    flex-direction: column;
}

h4{
    font-size: large;
}

.bubble__img{
    border:1px solid rgba(90, 89, 90, 0.301);
    border-radius: 999px;
    padding: 20px;
    margin-right: 12px;
    margin-top: 4px;
  }

  .features__title{
    font-size: 42px !important;
  }

  .service__para{
    margin-right: 100px;
  }

  /* 
  
  QUALITYWORK
  
  */

  .qualitywork__container{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .qualitywork__image{
    width: 80%;
    margin-left: 120px;
  }
  
  .qualitywork__container--wrapper{
    display: flex;
    flex-direction: row;
  }

  .btn__qw{
    width: 40%;
  }

  /*
  
  GET STARTED
  
  */

  .easy__imgsize{
    width: 50%;
  }

  .get__started{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .steps__text--wrapper{
    display: flex;
  }

  .para__wrapper{
    display: flex;
    flex-direction: column;
  }